h2 {
  text-align: center;
  font-family: "Major Mono Display", monospace;
  font-size: 45px !important;
  padding-top: 50px;
  padding-bottom: 10px;
}

.middle {
  margin: 0 auto;
  width: 45%;
}
img {
  position: absolute;
  width: 150px;
  top: 215px;
  left: 13%;
  transition: linear 0.5s;
  opacity: 1;
}

.desc {
  font-family: "Arvo", serif;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

a {
  font-family: "Arvo", serif;
  color: white;
}
.about-about {
  font-family: "Major Mono Display", monospace;
}
.boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  color: black;
  transition: linear 1s;
  margin: 15px;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
}

span {
  color: #198d8d;
  font-size: 20px;
  font-family: "Arvo", serif;
  margin-right: 8px;
}

/* .about {
  font-weight: bold;
  color: white;
  margin-right: 0px !important;
} */
@media (max-width: 930px) {
  img {
    top: 250px;
    left: 70px;
  }
}
@media (max-width: 768px) {
  img {
    top: 280px;
    left: 50px;
  }
}
@media (max-width: 700px) {
  img {
    top: 250px;
    left: 70px;
    display: none;
  }
  .middle {
    width: 95%;
    margin-bottom: 10px;
  }
  .box {
    width: 90%;
    height: 160px;
  }
}

@media (max-width: 420px) {
  .middle {
    width: 95%;
    margin-bottom: 10px;
  }
}
