h2 {
  text-align: center;
  font-family: "Major Mono Display", monospace;
  font-size: 60px !important;
  padding: 50px;
}

.middle {
  margin: 0 auto;
  width: 45%;
}
img {
  position: absolute;
  width: 150px;
  top: 250px;
  left: 120px;
  transition: linear 1s;
  opacity: 0.8;
}

.desc {
  font-family: "Arvo", serif;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  text-shadow: 2px;
}

a {
  font-family: "Arvo", serif;
  color: white;
}
.about-about {
  font-family: "Major Mono Display", monospace;
}
.boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  box-sizing: border-box;
  padding: 20px;
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  color: black;
  transition: linear 1s;
  margin: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

span {
  color: #198d8d;
  font-size: 20px;
  font-family: "Arvo", serif;
}

.about {
  font-weight: bold;
  color: white;
}
@media (max-width: 930px) {
  img {
    top: 250px;
    left: 70px;
  }
}
@media (max-width: 768px) {
  img {
    top: 280px;
    left: 50px;
  }
}
@media (max-width: 700px) {
  img {
    top: 250px;
    left: 70px;
    display: none;
  }
  .middle {
    width: 95%;
    margin-bottom: 10px;
  }
  .box {
    width: 90%;
    height: 160px;
  }
}

@media (max-width: 420px) {
  .middle {
    width: 95%;
    margin-bottom: 10px;
  }
}
