@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
.navLinkRight {
  width: 23%;
  justify-content: flex-end;
}
.adminIcon {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 15%;
  margin: 0 0;
}

h1 {
  font-family: "Major Mono Display", monospace;
  text-align: center;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  margin-top: 45px;
}

.form {
  position: absolute;
  top: 220px;
  right: 0;
  left: 0;
  justify-items: center;
}
.form-control {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 30px;
  text-align: center;
}

.f-pass {
  position: relative;
}
.f-pass .picture {
  position: absolute;
  top: 35%;
  right: 2%;
}
#show {
  display: none;
}
.fas {
  color: gray;
}

.btn-submit {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  font-family: "Major Mono Display", monospace;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-color: white;
  font-size: 20px;
}
.f-label {
  font-family: "Arvo", serif;
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
  font-family: "Arvo", serif;
  font-size: 14px;
}
::-webkit-input-placeholder {
  text-align: center;
  font-family: "Arvo", serif;
  font-size: 13px;
}
