.navLinkRight {
    width: 23% !important; 
    justify-content: flex-end;
  }

.adminIcon{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin: 0 0;
 }

 @media screen and (max-width: 600px) {
    .adminIcon{
        width: 35% !important;
      }

      .navLinkRight {
        width: 35% !important;
      }
 }