.navLinkRight {
  width: 23% !important;
  justify-content: flex-end;
}

.adminIcon {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 15%;
  margin: 0 0;
}
.headerText {
  font-family: "Major Mono Display", monospace;
  font-size: 35px !important;
}

.dashboardContainer {
  position: relative;
  margin-right: 5%;
  height: 600px;
  margin-left: 5%;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 15px;
}

.headerContainer {
  position: absolute;
  display: flex;
  top: 5px;
  right: 5px;
  left: 5px;
  height: 40px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.35);
}

.trashCan {
  position: absolute;
  align-content: center !important;
  justify-content: center !important;
  border: none;
  display: flex;
  top: 5px;
  left: 5px;
  bottom: 5px;
  width: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6) !important;
}
.flag {
  position: absolute;
  align-content: center !important;
  justify-content: center !important;
  border: none;
  display: flex;
  top: 5px;
  left: 185px;
  bottom: 5px;
  width: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.unread {
  position: absolute;
  align-content: center;
  justify-content: center;
  padding-top: 5px;
  border: none;
  display: flex;
  top: 5px;
  left: 50px;
  bottom: 5px;
  width: 130px;
  border-radius: 10px;
  font-family: "Arvo", serif;
  font-size: 15px;
  color: black;
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.junk {
  position: absolute;
  align-content: center;
  justify-content: center;
  padding-top: 5px;
  border: none;
  display: flex;
  top: 5px;
  left: 230px;
  bottom: 5px;
  width: 55px;
  border-radius: 10px;
  font-family: "Arvo", serif;
  font-size: 15px;
  color: black;
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.reply {
  position: absolute;
  align-content: center;
  justify-content: center;
  padding-top: 5px;
  border: none;
  display: flex;
  top: 5px;
  left: 290px;
  bottom: 5px;
  width: 60px;
  border-radius: 10px;
  font-family: "Arvo", serif;
  font-size: 15px;
  color: black;
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.imageCenter {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 10px;
  right: 10px;
  top: 5px;
  bottom: 5px;
}

.trashCan:hover {
  background-color: rgba(209, 209, 209, 0.6) !important;
}

.trashCan:active {
  background-color: rgb(255, 255, 255) !important;
}

.reply:hover {
  background-color: rgba(209, 209, 209, 0.6) !important;
}

.reply:active {
  background-color: rgb(255, 255, 255) !important;
}

.junk:hover {
  background-color: rgba(209, 209, 209, 0.6) !important;
}

.junk:active {
  background-color: rgb(255, 255, 255) !important;
}

.flag:hover {
  background-color: rgba(209, 209, 209, 0.6) !important;
}

.flag:active {
  background-color: rgb(255, 255, 255) !important;
}

.unread:hover {
  background-color: rgba(209, 209, 209, 0.6) !important;
}

.unread:active {
  background-color: rgb(255, 255, 255) !important;
}

.aFolder:hover {
  background-color: rgba(209, 209, 209, 0.6) !important;
}

/*

.aFolder:active {
  background-color: rgba(255, 255, 255, 0.753) !important;
}
.aFolder:focus {
  background-color: rgba(255, 255, 255, 0.87) !important;
} */

.innerContainer {
  position: absolute;
  display: flex;
  align-content: flex-start;
  left: 0px;
  right: 0px;
  top: 45px;
  bottom: 0px;
  padding: 5px;
}

.folders {
  overflow-y: scroll;
  display: list-item;
  width: 12%;
  height: 100%;
  border-radius: 12px 0px 0px 12px;
  padding-top: 5px;
  background-color: rgba(255, 255, 255, 0.151);
  /* background-color: rgba(255, 255, 255, 0.72); */
}

.folderText {
  font-family: "Arvo", serif;
  font-size: 12px;
  color: black;
  margin-bottom: 5px;
}

.aFolder {
  font-family: "Arvo", serif !important;
  font-size: 15px !important;
  color: black !important;
  width: 100%;
  text-align: left;
  margin-left: 0px !important;
  margin-right: 10px !important;
  margin-bottom: 2px;
  padding: 5px !important;
  padding-left: 25px !important;
  border: none !important;
  background-color: transparent !important;
}

.clickedFolder {
  font-family: "Arvo", serif !important;
  font-size: 15px !important;
  color: black !important;
  width: 100%;
  text-align: left;
  margin-left: 0px !important;
  margin-right: 10px !important;
  margin-bottom: 2px;
  padding: 5px !important;
  padding-left: 25px !important;
  border: none !important;
  background-color: rgb(255, 255, 255) !important;
}

.messages {
  overflow-y: scroll;
  display: list-item;
  width: 25%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  padding-left: 5px;
  padding-top: 5px;
}

.readMessage {
  display: flex;
  flex-direction: column;
  width: 63%;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  border-radius: 0px 12px 12px 0px;
  padding: 30px;
  color: black;
  background-color: rgba(255, 255, 255, 0.72);
}

.messageText {
  word-wrap: break-word;
  overflow: scroll;
  text-overflow: ellipsis;
  display: flex;
  font-family: "Arvo", serif;
  font-size: 15px;
  color: rgb(46, 46, 46);
  width: 80%;
  height: 100%;
}

.clickableMessage {
  width: 100%;
  border: none;
  border-radius: 12px 0px 0px 12px;
  background-color: rgba(255, 255, 255, 0.26) !important;
  height: 70px;
  margin-bottom: 5px;
}

.clickableMessage:hover {
  background-color: rgba(255, 255, 255, 0.356) !important;
}

.clickableMessage:focus {
  background-color: rgba(255, 255, 255, 0.63) !important;
}

.unreadIndicator {
  display: flex;
  margin-bottom: -16px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: rgb(0, 134, 218);
}

.innerText {
  display: flex;
  margin-left: 30px;
  margin-bottom: 0px;
  font-family: "Arvo", serif;
  font-size: 15px;
  color: rgb(46, 46, 46);
  word-wrap: break-word;
  overflow: hidden !important;
}

.logOut {
  position: relative;
  margin-right: 39%;
  margin-left: 39%;
  margin-top: 20px;
  text-align: center;
}

.logOutText {
  text-align: center;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .adminIcon {
    width: 35% !important;
  }

  .adminIconActive {
    width: 25vw !important;
    align-items: center !important;
  }
  .navLinkRight {
    justify-content: center !important;
    align-content: center;
    position: absolute;
    right: 10px;
    height: 10%;
    top: 30vh;
    width: 35% !important;
    z-index: 0;
  }
  .dashboardContainer {
    margin-right: 0px;
    margin-left: 0px;
  }
  .messages {
    width: 30%;
  }

  .readMessage {
    width: 50%;
  }
  .folders {
    width: 20%;
  }
  .trashCan {
    left: 5px;
    width: 40px;
  }
  .flag {
    left: 175px;
    width: 40px;
  }

  .unread {
    left: 50px;
    width: 120px;
  }

  .junk {
    left: 220px;
    width: 50px;
  }

  .reply {
    left: 275px;
    width: 50px;
  }
}
