@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arvo", serif;
}

.descriptionContainer {
  position: absolute;
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: center;
  top: 13%;
}
.description {
  margin-top: 20px;
  position: relative;
  font-family: "Major Mono Display", monospace;
  font-size: 30px;
}

.endContainer {
  position: absolute;
  display: flex;
  width: 100px;
  top: 10px;
  bottom: 10px;
  right: 10px;
}

.endButton {
  position: absolute;
  font-family: "Arvo", serif !important;
  font-size: 12px !important;
  border: none !important;
  top: 0px !important;
  right: 0px !important;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  color: rgb(37, 37, 37) !important;
  background-color: white !important;
  cursor: pointer !important;
  z-index: 50;
}

.endButton:hover {
  background-color: rgba(255, 255, 255, 0.507) !important;
}

.endButton:active {
  background-color: rgb(255, 255, 255) !important;
}

.chatContainer {
  position: absolute;
  left: 23%;
  right: 20%;
  height: 78%;
  top: 20%;
  bottom: 2%;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.26);
  border-radius: 22px;
}

.chatHeader {
  display: flex;
  width: 100%;
}

.profile {
  position: absolute;
  display: flex;
  left: 5px;
  right: 5px;
  top: 5px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.568);
  align-items: center;
  padding: 0px 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.leftSide {
  display: inline;
  position: absolute;
  width: 200px;
  top: 5px;
  left: 10px;
  bottom: 5px;
}

.online {
  position: absolute;
  display: flex;
  background-color: rgb(31, 146, 79);
  border-radius: 10px;
  left: 5px;
  top: 17px;
  bottom: 18px;
  width: 10px;
  height: 10px;
}
.nameMessage {
  position: absolute;
  left: 25px;
  font-family: "Arvo", serif;
  font-size: 14px;
  top: 12px;
  color: rgb(37, 37, 37);
}

.chatBox {
  display: list-item;
  position: absolute;
  left: 0px;
  bottom: 65px;
  top: 60px;
  width: 100%;
  overflow-y: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

.chatBox .mess {
  background: rgba(255, 255, 255, 0.418);
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 20px;
  margin: 10px 0px;
  cursor: pointer;
}

.chatBox .mess p {
  font-family: "Arvo", serif;
  font-size: 12px;
  color: rgb(37, 37, 37);
}

.chatBox .messageText {
  width: 100%;
}

.chatBox .time {
  float: left;
  padding-left: 5px;
  padding-bottom: 0px;
}

.chatBox .time span {
  color: rgb(255, 255, 255);
  font-size: 8px;
  font-weight: 700px;
}

.textBox {
  display: flex;
  flex-direction: column;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 5px;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 0.418);
  color: rgb(37, 37, 37);
  font-family: "Arvo", serif;
  font-size: 11px;
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 15px;
}

.textName {
  font-family: "Arvo", serif;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 2px;
}

.chatFooter {
  position: absolute;
  display: flex;
  left: 5px;
  right: 5px;
  bottom: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 60px !important;
}

.textarea {
  position: absolute;
  display: inline-block;
  left: 0px;
  right: 0px !important;
  bottom: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  border-radius: 20px !important;
  padding: 5px;
  padding-right: 50px;
  outline: none;
  font-size: 15px;
  font-family: "Arvo", serif !important;
  background-color: white !important;
  color: rgb(37, 37, 37);
  z-index: 0;
  overflow-x: scroll;
}

.send1 {
  display: block;
  width: 35px;
  height: 50px;
  margin-right: 20px;
}

.sendButton1 {
  z-index: 5;
  width: 35px;
  height: 50px;
  right: 8px;
  bottom: 3px;
  position: absolute;
  justify-content: center;
  align-content: center;
  background-color: transparent !important;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  z-index: 5;
}

@media screen and (max-width: 600px) {
  h1 {
    font-family: "Major Mono Display", monospace;
    font-size: 20pt;
  }
  .chatContainer {
    left: 2%;
    right: 2%;
  }
}
