@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

.feedbackDoneContainer {
  position: absolute;
  top: 20vh;
  left: 0;
  right: 0;
  height: auto;
}
.feedbackDoneHeader {
  position: relative;
  font-family: "Major Mono Display", monospace;
  text-align: center;
  margin-top: 2%;
  font-size: 2.8em;
  color: white;
  margin-bottom: 50px;
}

.lock {
  position: relative;
  width: 150px;
  height: 200px;
  margin: 5% auto 50px;
}

.lockIcon {
  position: relative;
  width: 100%;
  height: 100%;
}
.bottomLabel {
  position: relative;
  font-size: 1.5em;
  font-family: "Arvo", serif;
}

@media screen and (max-width: 600px) {
  .feedbackDoneContainer {
    top: 25vh;
  }
  .feedbackDoneHeader {
    font-size: 1.7em;
  }

  .lock {
    width: 110px;
    height: 150px;
  }
  .bottomLabel {
    font-size: 0.76em;
  }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
  .feedbackDoneContainer {
    top: 25vh;
  }
  .feedbackDoneHeader {
    font-size: 1.8em;
  }

  .lock {
    width: 110px;
    height: 150px;
  }
  .bottomLabel {
    font-size: 1em;
  }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
  .feedbackDoneContainer {
    top: 25vh;
  }
  .feedbackDoneHeader {
    font-size: 2em !important;
  }

  .lock {
    width: 110px;
    height: 150px;
  }
  .bottomLabel {
    font-size: 1.2em !important;
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  .feedbackDoneContainer {
    top: 25vh;
  }
  .feedbackDoneHeader {
    font-size: 2.3em;
  }

  .lock {
    width: 135px;
    height: 175px;
  }
  .bottomLabel {
    font-size: 1.3em;
  }
}
