@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
.navLinkRight {
  width: 23% !important;
  justify-content: flex-end;
}
.adminIcon {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 15%;
  margin: 0 0;
}

:-ms-input-placeholder {
  text-align: center;
  font-family: "Arvo", serif;
  font-size: 14px;
}
::-webkit-input-placeholder {
  text-align: center;
  font-family: "Arvo", serif;
  font-size: 13px;
}

.forgotText {
  margin-top: 50px;
}

.form {
  top: 240px !important;
}

.f-label {
  position: relative;
  margin-top: 20%;
  text-align: center;
}
label {
  font-family: "Arvo", serif;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .adminIcon {
    width: 35% !important;
  }

  .navLinkRight {
    justify-content: center !important;
    align-content: center;
    position: absolute;
    right: 10px;
    height: 10%;
    top: 30vh;
    width: 35% !important;
    z-index: -2000;
  }

  .adminIconActive {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 35% !important;
    margin: 0 0;
  }

  .navLinkRightActive {
    justify-content: center !important;
    align-content: center;
    position: absolute;
    right: 10px;
    height: 10%;
    top: 30vh;
    width: 35% !important;
    z-index: 30000;
  }
  label {
    font-size: 1em;
  }
}
