@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
body {
  margin: 10px;
  color: white;
  background-color: darkslategray;
  background-image: url(../images/safeBackground.png);
  background-size: 120%, 100%;
  background-position: top, left;
}
.headerText {
  font-family: "Major Mono Display", monospace;
  color: white;
}

.emailContainer {
  position: absolute;
  right: 10px;
  top: 80px;
  left: 10px;
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 15px;
}

.send {
  position: absolute;
  min-width: 24px;
  right: 5px;
  top: 5px;
  height: 53px;
  width: 7.5%;
  border-radius: 15px;
  border: none;
  justify-content: center;
  padding: 2px;
  align-content: center;
  background-color: rgb(81, 226, 178);
}

.send:hover {
  background-color: rgba(84, 218, 173, 0.562);
}

.send:active {
  background-color: rgb(255, 255, 255);
}

.headerContainer {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 5px 5px 2px 5px;
}

.subject {
  padding-left: 10px;
  width: 92%;
  height: 100%;
  border-radius: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
}

.subject::placeholder {
  color: black;
}

.mainContainer {
  position: absolute;
  display: flex;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3px 5px 5px 5px;
}

.writeBody {
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  resize: none;
}

.imageCenter {
  width: 20px;
  height: 20px;
  justify-self: center;
}
