button {
  height: 70px !important;
}

.lockLogo {
  position: relative;
  margin: 20px auto;
  height: 110px;
  width: 80px;
  margin-bottom: 0px;
}

.lockIcon {
  position: relative;
  width: 100%;
  height: 100%;
}

.student-title {
  text-align: center;
  font-size: 2.8rem;
  font-family: "Major Mono Display", monospace;
  margin-top: 60px;
}

.student-body {
  display: flex;
  justify-content: center;
  margin-top: -25px;
}

.student-box {
  width: 400px;
  height: 250px;
  background-color: white;
  border-radius: 25px;
  text-align: center;
  margin: 50px;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.student-box a {
  display: block;
  box-sizing: border-box;
  font-family: "Major Mono Display", monospace;
  font-size: 1.5em;
  font-weight: 800 !important;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.69);
  height: inherit;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3.6em;
}

.textIndex {
  text-align: center;
  font-family: "Arvo", serif;
  font-size: 1.3rem;
}

.textIndex1 {
  text-align: center;
  font-size: 1rem;
  font-family: "Arvo", serif;
  margin-top: 20px;
}
@media (max-width: 868px) {
  .student-box {
    width: 50%;
    text-align: center;
    margin-top: 0px !important;
    margin: 20px;
  }

  .lockLogo {
    margin-bottom: 50px !important;
    margin-top: 20px;
  }

  .student-title {
    font-size: 2rem;
  }

  .student-box a {
    padding-top: 3.4em;
    margin-top: 1em;
    font-size: 1.3em;
  }
}
@media (max-width: 650px) {
  .student-body {
    display: block;
  }
  .student-box {
    width: 90%;
    height: 125px;
    text-align: center;
    margin: 20px 5% 26px 5%;
  }

  .student-box a {
    padding-top: 2.6em;
    margin-top: 1em;
    font-size: 1.2em;
  }
  .student-title {
    font-size: 1.8rem;
    margin: 30px 0;
  }
}
