button {
  height: 70px !important;
}

.student-title {
  text-align: center;
  font-size: 3rem;
  font-family: "Major Mono Display", monospace;
  margin-top: 70px;
}

.student-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.student-body a {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.69);
  background-color: white;
  width: 500px;
  height: 300px;
  margin: 100px;
  border-radius: 25px;
  text-align: center;
  font-family: "Major Mono Display", monospace;
  font-size: 1.5rem;
  line-height: 290px;
  font-weight: 900;
}

.textIndex {
  text-align: center;
  font-family: "Arvo", serif;
}

.textIndex1 {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Arvo", serif;
}

@media (max-width: 1314px) {
  .student-body a {
    font-size: 1.3rem;
    width: 550px;
    height: 250px;
    line-height: 250px;
  }
}
@media (max-width: 1214px) {
  .student-body a {
    font-size: 1rem;
    width: 550px;
    height: 250px;
    line-height: 250px;
  }
}
@media (max-width: 1024px) {
  .student-body a {
    font-size: 1.3rem;
    width: 400px;
    height: 250px;
    line-height: 250px;
  }
}

@media (max-width: 890px) {
  .student-body a {
    font-size: 1rem;
    line-height: 250px;
    margin: 20px auto;
    font-size: 1.3rem;
  }
  .student-body {
    display: block;
  }
}

@media (max-width: 768px) {
  .student-body {
    display: block;
  }
  .student-body a {
    margin: 20p auto;
    width: 400px;
    height: 250px;
    line-height: 250px;
}
