@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
body {
  margin: 10px;
  color: white;
  background-color: darkslategray;
  background-image: url(../images/BackgroundSAFE.png);
  background-size: 120%, 100%;
  background-position: top, left;
}

a {
  font-family: "Arvo", serif;
  color: white;
}

input {
  background-color: white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.input {
  position: relative;
  margin-top: 30px;
  height: 60px;
  margin-left: 28%;
  margin-right: 28%;
}

a:hover {
  color: lightgrey;
}

button {
  font-family: "Major Mono Display", monospace;
  background-color: white !important;
  color: darkslategray !important;
}

/*nav is the header bar on top of the screen.*/
nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
}

.logo {
  position: relative;
  color: white;
  align-self: center;
  margin-right: 1.5%;
}

.logo h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 60px;
}

.safeButton {
  font-family: "Major Mono Display", monospace;
  font-size: 60px;
  text-decoration: none;
  color: white;
}

/*This is the container for the about and home links*/
.linkContainer {
  position: relative;
  display: flex;
  right: 3%;
}
.navLinkRight {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: 0 0;
}

.navLinkLeft {
  position: relative;
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0 0;
  right: 1.5%;
}

.navLinkRightActive {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: 0 0;
}

.navLinkLeftActive {
  position: relative;
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0 0;
  right: 1.5%;
}
/*navLinkRight is the Home button*/
.navLinkRight a {
  color: white;
  text-decoration: none;
  font-family: "Major Mono Display", monospace;
  font-size: 20px;
  justify-content: center;
}

/*navLinkLeft is the Home button*/
.navLinkLeft a {
  color: white;
  text-decoration: none;
  font-family: "Major Mono Display", monospace;
  font-size: 20px;
}

.navLinkRightActive a {
  color: white;
  text-decoration: none;
  font-family: "Major Mono Display", monospace;
  font-size: 20px;
  justify-content: center;
}

.navLinkLeftActive a {
  color: white;
  text-decoration: none;
  font-family: "Major Mono Display", monospace;
  font-size: 20px;
}

.navLinkRight li {
  list-style: none;
}

.navLinkLeft li {
  list-style: none;
}

.navLinkRightActive li {
  list-style: none;
}

.navLinkLeftActive li {
  list-style: none;
}

.adminIcon {
  list-style: none;
}

.adminIconActive {
  list-style: none;
}

/*burger is the menu bars that appear when the screen becomes smaller*/
.burger {
  z-index: 30000;
  display: none;
  cursor: pointer;
}

.burger div {
  z-index: 20000;
  position: relative;
  right: 0;
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

/*This gets rid of the menu background when the screen is bigger*/
.background {
  opacity: 0;
  z-index: -2000;
}

/*If the screen is smaller than 600 px it switches to small mode*/
@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
    background-size: 330%, 100%;
    background-position: top, right;
  }

  .input {
    margin-left: 2%;
    margin-right: 2%;
  }

  .background {
    z-index: -2000;
    opacity: 0;
    position: absolute;
    display: flex;
    background-color: rgba(29, 29, 29, 0.808);
    right: 0;
    top: 0;
    bottom: 0;
    width: 35%;
  }

  .adminIcon {
    list-style: none;
    position: absolute;
    z-index: -2000;
    right: 10px;
    height: 10%;
    top: 20vh;
    width: 23%;
    opacity: 0;
  }
  .navLinkLeft {
    position: absolute;
    z-index: -2000;
    right: 10px;
    height: 10%;
    top: 40vh;
    width: 35%;
    opacity: 0;
  }

  .navLinkRight {
    position: absolute;
    z-index: -2000;
    right: 10px;
    height: 10%;
    top: 30vh;
    width: 35%;
    opacity: 0;
  }

  .adminIcon li {
    opacity: 0;
  }

  .navLinkLeft li {
    opacity: 0;
  }

  .navLinkRight li {
    opacity: 0;
  }

  .adminIconActive li {
    opacity: 1;
  }

  .navLinkLeftActive li {
    opacity: 1;
  }

  .navLinkRightActive li {
    opacity: 1;
  }

  .adminIconActive {
    list-style: none;
    position: absolute;
    right: 10px;
    height: 10%;
    top: 20vh;
    width: 23%;
    opacity: 0;
    z-index: 30000;
  }

  .navLinkLeftActive {
    position: absolute;
    right: 10px;
    height: 10%;
    top: 40vh;
    width: 35%;
    opacity: 0;
    z-index: 30000;
  }

  .navLinkRightActive {
    position: absolute;
    right: 10px;
    height: 10%;
    top: 30vh;
    width: 35%;
    opacity: 0;
    z-index: 30000;
  }

  .burger {
    z-index: 30000 !important;
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .input {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (max-width: 800px) {
  .input {
    margin-left: 15%;
    margin-right: 15%;
  }
}

/*If the burger is pressed this makes the menu appear*/
.nav1-active {
  opacity: 100;
  z-index: 100;
  width: 35%;
}

/*This is the animation function for text menu elements*/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

/*These toggle functions are what animate the burger.*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 4.5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

label {
  display: block;
  font: 0.9rem "Fira Sans", sans-serif;
}

.grid-container {
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  justify-items: center;
}

.login {
  font-family: "Major Mono Display", monospace;
  font-size: 60px;
  margin-top: 50px;
  margin-bottom: 70px;
}

input[type="text"] {
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
  height: 100%;
  width: 100%;
}

input[type="email"] {
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: white;
  border-radius: 30px;
  border: none;
  height: 100%;
  width: 100%;
}

input[type="password"] {
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: white;
  border-radius: 30px;
  border: none;
  height: 100%;
  width: 100%;
}

input[type="submit"] {
  position: absolute;
  font-family: "Major Mono Display", monospace;
  font-size: 20px;
  text-align: center;
  background-color: white;
  border-radius: 30px;
  border: none;
  height: 100%;
  width: 100%;
}
.forget_create {
  position: relative;
  margin-top: 30px;
  height: 60px;
  margin-left: 28%;
  margin-right: 28%;
  text-align: center;
}

input[type="text"] {
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: white;
  border-radius: 30px;
  border: none;
  height: 100%;
  width: 100%;
}

.input span {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.input span i {
  position: absolute;
  top: 17px;
  right: 15px;
  cursor: pointer;
}

.recovery h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 50px;
  display: flex;
  justify-content: space-around;
  min-height: 25vh;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .adminIcon {
    width: 35%;
  }

  .navLinkRight {
    justify-content: center;
    align-content: center;
    position: absolute;
    right: 10px;
    height: 10%;
    top: 30vh;
    width: 35%;
    z-index: -2000;
  }

  .adminIconActive {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin: 0 0;
  }

  .navLinkRightActive {
    justify-content: center;
    align-content: center;
    position: absolute;
    right: 10px;
    height: 10%;
    top: 30vh;
    width: 35%;
    z-index: 30000;
  }
}