@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body {
  margin: 10px;
  background-color: darkslategray;
  background-image: url(safeBackground.png);
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 a {
  font-family: 'Arvo', serif;
  color: white;
 }

 a:hover {
   color: lightgrey;
 }

 h1 {
  font-family: 'Major Mono Display', monospace;
  font-size: 144px;
 }

button {
  font-family: 'Major Mono Display', monospace;
  background-color: white !important;
  color: darkslategray !important;

}
